# Ignore statically-compiled objects
*.o

# Ignore temporary files
*.temp
*.tmp

# Ignore compiled programs
bin/*

# Ignore non-engine code
src/*
!src/main.cpp
!src/Scene-List.hpp
!src/Assets

# Ignore logs
*.log
*.log.*

# Ignore built programs
*.elf
*.exe
*.out
*.app

# Ignore VS Code settings
.vscode/*
.vscode